/* ---------    FONTS and Icon   --------- */

* {
    font-family: 'Source Code Pro', monospace;
    font-size: 100%;
}



/* ---------    Desktop Styles   --------- */
#command {
  font-size: 2.5vw;
}

#kenji {
    font-size: 2.5vw;
    display: none;
}

#devops {
    font-size: 2vw;
    display: none;
}

#link {
    font-size: 1.5vw;
    display: none;
}

img {
    height: 3vw;
    border: 1px solid rgba(46, 46, 46, 0.377);
    border-radius: 5px;
}

.typing-demo {
    width: 43vw;
    animation: typing 2s steps(30), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}



/* ---------    Large Tablet Styles   --------- */
@media screen and (max-width: 991px) {

    #command {
      font-size: 3vw;
    }

    #kenji {
        font-size: 3.5vw;
      }

    #devops {
        font-size: 2.5vw;
      }

    #link {
        font-size: 1.5vw;
      }

    img {
        height: 7vw;
        border: 1px solid rgba(46, 46, 46, 0.377);
        border-radius: 5px;
      }

    .typing-demo {
      width: 50vw;
      animation: typing 2s steps(30), blink .5s step-end infinite alternate;
      white-space: nowrap;
      overflow: hidden;
      border-right: 3px solid;
}



/* ---------    Medium Tablet Styles   --------- */
@media screen and (max-width: 767px) {
    #command {
      font-size: 3vw;
    }
  
  
    #kenji {
        font-size: 3.5vw;
      }

    #devops {
        font-size: 2.5vw;
      }

    #link {
        font-size: 2vw;
      }

    img {
        height: 7vw;
        border: 1px solid rgba(46, 46, 46, 0.377);
        border-radius: 5px;
      }

    .hover-area {
        justify-content: center;
        width: 70vw;
      }

    .typing-demo {
      width: 50vw;
      animation: typing 2s steps(30), blink .5s step-end infinite alternate;
      white-space: nowrap;
      overflow: hidden;
      border-right: 3px solid;
}



/* ---------    Phone Styles   --------- */
@media screen and (max-width: 479px) {

    #command {
      font-size: 6vw;
    }

    #kenji {
        font-size: 6vw;
      }

      #devops {
        font-size: 2.5vw;
      }

      #link {
        font-size: 2vw;
      }

      img {
        height: 7vw;
        border: 1px solid rgba(46, 46, 46, 0.377);
        border-radius: 5px;
      }

      .typing-demo {
        width: 43vw;
        animation: typing 2s steps(30), blink .5s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
      }
}





.hyperlink {
    color: #FFFFFF;
    text-decoration: none;
  }

a:hover {
    color: rgb(212, 212, 212);
    -webkit-text-fill-color: rgb(255, 255, 255); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.527);
}
