  /*    DO NOT TOUCH (for perfect background)   */
body {
    background-color: black;
    background: url(globals/intro-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;

    /* disable scroll*/
    margin: 0; height: 100%; overflow: hidden
}


.flex-container {
  height: 100vh;
  width: 100vw;

  background-color: rgba(0, 0, 0, 0.616);
  color:rgb(218, 218, 218);

  align-items: center;
  justify-content: center;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.name{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  text-align: center;

  padding: 30vh 10px 10px 10px;

  height: 70vh;
}


#kenji {
  font-weight: bold;
  width: 100%;
}

#link {
  font-size: 3vw;
  display: none;
}

.contact {
  height: 25vh;

  justify-self: center;
  align-self: center;
  margin:auto;
  color: rgb(255, 255, 255);
}


.hover-area {
  width: 50vw;
  display: flex;
  justify-content: center;

  font-size: 5vw;
}

img{
  height: 5vh;
  /* filter:saturate(0);
  filter: grayscale(1); */
  border: 1px solid rgba(46, 46, 46, 0.377);
  border-radius: 5px;
}



/*-- TEXT ANIMATION --*/
.wrapper {
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 43vw;
  animation: typing 2s steps(40), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}
@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

/*-- TEXT ANIMATION (end) --*/